<h5>🧾 Phòng {{ receipt.coupon.room.name }}</h5>

<form action="{{ url_for('staff_add_service', receipt_id=receipt.id) }}"
      class="row g-2"
      method="post">

    <div class="col-md-6">
        <select class="form-select" name="service_id">
            {% for s in services %}
            <option value="{{ s.id }}">
                {{ s.name }} - {{ "{:,.0f}".format(s.price) }} đ
            </option>
            {% endfor %}
        </select>
    </div>

    <div class="col-md-3">
        <input class="form-control" min="1" name="quantity" type="number" value="1">
    </div>

    <div class="col-md-3">
        <button class="btn btn-success w-100"> + Thêm</button>
    </div>
</form>

<hr>

<table class="table table-bordered text-center">
    <tr>
        <th>Dịch vụ</th>
        <th>SL</th>
        <th>Tiền</th>
        <th></th>
    </tr>
    {% for d in details %}
    <tr>
        <td>{{ d.service.name }}</td>
        <td>{{ d.quantity }}</td>
        <td>{{ "{:,.0f}".format(d.quantity * d.price) }} đ</td>
        <td>
            <a class="btn btn-danger btn-sm"
               href="{{ url_for('staff_delete_service', ds_id =d.id, receipt_id=receipt.id) }}"  onclick="return confirm('Xóa dịch vụ này?')">X</a>
        </td>
    </tr>
    {% endfor %}
</table>

<h5 class="text-end text-danger">
    Tổng: {{ "{:,.0f}".format(total_service) }} đ
</h5>
